<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Công ty nước sạch Hà Nội</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Kính gửi khách hàng ' + name + ','}"></p>
<p>
    <b>Công ty nước sạch Hà Nội </b>thông báo ngừng cung cấp dịch vụ nước tháng <span th:text="${month +1}"></span>  năm <span th:text="${year}"></span> .<br/>
</p>

<p>Do quý khách đã không thanh toán hóa đơn tiền nước tháng <span th:text="${month}"></span> <br/>.<br/>
</p>
<p>Vui lòng liên hệ hotline 0363023933 để được giải quyết.</p>

<p>
    Trân Trọng, <br />
    <em th:text="${sign}"></em>
<p>KM9 Nguyễn Trãi,Hà Đông,Hà Nội</p>
</p>
</body>
</html>