<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Spring boot email template with Thymeleaf</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Kính gửi khách hàng ' + name + ','}"></p>
<p>
    <b>Công ty nước sạch Hà Nội </b>thông báo hóa đơn tiền nưóc tháng <span th:text="${month}"></span>  năm <span th:text="${year}"></span> .<br/>
</p>

<p>Thông tin hóa đơn như sau:</p>
<p th:text="${'Họ tên khách hàng: ' + name}"></p>
<p th:text="${'Địa chỉ: ' + location}"></p>
<p th:text="${'Số điện thoại: ' + phone}"></p>
<p th:text="${'Chỉ số cũ: ' + oldIndex}"></p>
<p th:text="${'Chỉ số mới: ' + newIndex}"/>
<p th:text="${'Lượng nước tiêu thụ: ' + amount}"/>
<p th:text="${'Thành tiên: ' + total_price}"/>
<p th:text="${'Thuế giá trị gia tăng VAT 5%: ' + tax}"/>
<p th:text="${'Tổng số tiền phải chi trả(đã bao gồm thuế VAT): ' + totalWithTax}"/>
<p th:text="${'Hạn thanh toán: ' + date}"/>

<p>Làm ơn thanh toán đúng hạn để việc sử dụng nước của quý khách không bị gián đoạn.</p>

<p>
    Trân Trọng, <br />
    <em th:text="${sign}"></em>
<p>KM9 Nguyễn Trãi,Hà Đông,Hà Nội</p>
</p>
</body>
</html>